//nodejs
node_modules


//idea
out
.idea
*.iml


//gradle
.gradle
gradle
wrapper
build
dist


//project-specific
//we can not generate this in build folder because in this case it will be ignored - see https://youtrack.jetbrains.com/issue/WEB-39930
.tsdeclarations